*{margin: 0; padding: 0;}
a{text-decoration: none;}
kbd{ display: inline-block; text-transform: uppercase; position: relative; }
kbd > button{position: absolute; right: 0; bottom: 0; display: none; }
kbd:hover > button{display: inline-block;background: background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,0) 100%);border:none; }
body{background: grey url(./img/bg1-min.jpg) no-repeat center center; }
main{text-align: center; display: flex; justify-content: center; align-items: center; height: 100vh; }
#main{display: inline-block;; }
#main> div:nth-child(2){margin-left: -22px; }
#main> div:nth-child(3){margin-left: -80px; }
.wrapper{
	background: rgba(255,255,255,0.2);
	border-radius: 10px;
}
.key{width: 58px; height: 58px; 
	border: 1px solid #C5D8DF;  border-radius: 6px; 
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.8);
	position: relative;
  font-size: 16px; 
  font-family: Helvetica;
background-color: #F5F4F9;color: #A8A8A8;
}
.row{margin: 20px; }
.row .key{margin: 0 10px; }
.key img{width: 16px; height: 16px; position: absolute; left: 4px; bottom: 2px;}
.key .text{position: absolute; left: 4px; top: 2px; }
