*{margin: 0; padding: 0;}
a{text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
#main{
    text-align: center;
    height:100vh;
    background:grey url(./img/bg1-min.jpg) no-repeat center center;
    background-size: cover;
}
#main> div{
    margin:8px;
}
/*#main> div:nth-child(4){margin-left: -4em; }*/
kbd {
    border: 1px solid #C5D8DF;
    width: 58px;
    height: 58px;
    border-radius: 6px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin:0 7px;
    background-color: #F5F4F9;
    box-shadow: 3px 4px 5px 0px rgba(NaN,55,95,1);
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}